#Taller Group by

1. Cargar el CSV phone_data y convertir la columna date de string a tiempo

In [0]:
import pandas as pd
import dateutil
 
data = pd.read_csv('phone_data.csv', index_col='index')
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)
data

                     date  duration  item    month   network network_type
index
0     2014-10-15 06:58:00    34.429  data  2014-11      data         data
1     2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2     2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3     2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4     2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile
...                   ...       ...   ...      ...       ...          ...
825   2015-03-13 00:38:00     1.000   sms  2015-03     world        world
826   2015-03-13 00:39:00     1.000   sms  2015-03  Vodafone       mobile
827   2015-03-13 06:58:00    34.429  data  2015-03      data         data
828   2015-03-14 00:13:00     1.000   sms  2015-03     world        world
829   2015-03-14 00:16:00     1.000   sms  2015-03     world        world

[830 rows x 6 columns]

2. ¿Cuál fue el ítem (llamada/datos) de mayor duración?

In [0]:
data['duration'].max()

10528.0

In [0]:
data[data['duration']==data['duration'].max()]

In [0]:
data.loc[800:,['duration']].plot(kind='bar')

*   ¿Cuál fue la llamada de mayor duración?
*   ¿Cuál fue el evento de datos de mayor duración?

3. ¿Cuánto fue el total de segundos de todas las llamadas?

In [0]:
data['duration'][data['item'] == 'call'].sum()

92321.0



*   ¿Cuánto fue el total de segundos entre sms y eventos de datos?

4. ¿Cuantas entradas hay por cada uno de los meses

In [0]:
data['month'].value_counts()

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

*   ¿Cuantas entradas de datos hay por cada uno de las redes?
*   ¿Cuantas entradas de llamada hay por cada una de las redes?

5. Obtener la suma de la duración por mes

In [0]:
data.groupby('month')['duration'].sum()

* Obtener el promedio de llamadas por cada una de las redes
* Obtener el promedio de eventos de datos por cada una de las redes

6. Obtener el número de entradas por mes

In [0]:
data.groupby('month')['date'].count()

* Obtener el número de entradas tipo llamada por cada una de las redes
* Obtener el número de entradas tipo sms por cada una de las redes

7. Cuántos eventos de llamada, datos y sms hubo por mes

In [0]:
data.groupby(['month', 'item'])['date'].count()

* Por cada uno de los meses, ¿cuántas veces se usaron cada una de las redes (para cualquier evento)?
* Por cada uno de los meses, ¿cuántas veces se usaron cada una de las redes discriminando el tipo de evento?