# ESTRUCTURAS DE DATOS


*   Listas
*   Tuplas
*   Sets
*   Diccionarios



---


### LISTAS


---

Construcción de Listas

In [1]:
Primos = [2, 3, 5, 7, 11, 13, 17, 19]
print(type(Primos))
Temperaturas = [5.5, 6.3, 9.6, 10, 12.4, 14.7, 18, 20.2]
print(type(Temperaturas))
Nombres = ['Pedro Perez', 'Nelson Vera', 'Carlos Montenegro']
print(type(Nombres))
Mezcla = [3, 40, 'Hola', 30.5, True, 2+5j]
print(type(Mezcla))
print(type(Mezcla[2]))
print(type(Mezcla[5]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'str'>
<class 'complex'>

Indexación de Listas

In [2]:
print(Primos)
print(Primos[4:])
print(Primos[:6])
print(Primos[4:6])
print(Primos[-7:-2])

[2, 3, 5, 7, 11, 13, 17, 19]
[11, 13, 17, 19]
[2, 3, 5, 7, 11, 13]
[11, 13]
[3, 5, 7, 11, 13]

Operaciones básicas con Listas

In [3]:
print(Primos + Temperaturas)
print(Primos*3)
len(Temperaturas)

[2, 3, 5, 7, 11, 13, 17, 19, 5.5, 6.3, 9.6, 10, 12.4, 14.7, 18, 20.2]
[2, 3, 5, 7, 11, 13, 17, 19, 2, 3, 5, 7, 11, 13, 17, 19, 2, 3, 5, 7, 11, 13, 17, 19]

8

Métodos de Listas

In [4]:
Nombres.append('Manuel Cifuentes')
print(Nombres)

['Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes']

In [5]:
Mezcla.extend(Primos)
Mezcla.extend(Nombres)
print(Mezcla)
Mezcla.extend('Hola Mundo')
print(Mezcla)

[3, 40, 'Hola', 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes']
[3, 40, 'Hola', 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes', 'H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']

In [6]:
print(Mezcla)
Mezcla.insert(3, 'Mundo')
print(Mezcla)

[3, 40, 'Hola', 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes', 'H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']
[3, 40, 'Hola', 'Mundo', 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes', 'H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']

In [7]:
Mezcla.remove('Mundo')
print(Mezcla)

[3, 40, 'Hola', 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes', 'H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']

In [8]:
print(Mezcla)
print(Mezcla.pop())
print(Mezcla)
print(Mezcla.pop(2))
print(Mezcla)

[3, 40, 'Hola', 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes', 'H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']
o
[3, 40, 'Hola', 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes', 'H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd']
Hola
[3, 40, 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes', 'H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd']

In [9]:
print(Mezcla)
Mezcla.count(3)

[3, 40, 30.5, True, (2+5j), 2, 3, 5, 7, 11, 13, 17, 19, 'Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes', 'H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd']

2

In [10]:
print(Temperaturas)
Temperaturas.reverse()
print(Temperaturas)

[5.5, 6.3, 9.6, 10, 12.4, 14.7, 18, 20.2]
[20.2, 18, 14.7, 12.4, 10, 9.6, 6.3, 5.5]

In [11]:
print(Nombres)
Nombres.sort()
print(Nombres)
print(Temperaturas)
Temperaturas.sort()
print(Temperaturas)

['Pedro Perez', 'Nelson Vera', 'Carlos Montenegro', 'Manuel Cifuentes']
['Carlos Montenegro', 'Manuel Cifuentes', 'Nelson Vera', 'Pedro Perez']
[20.2, 18, 14.7, 12.4, 10, 9.6, 6.3, 5.5]
[5.5, 6.3, 9.6, 10, 12.4, 14.7, 18, 20.2]

In [12]:
print(Temperaturas)
Temperaturas.index(12.4)

[5.5, 6.3, 9.6, 10, 12.4, 14.7, 18, 20.2]

4

In [13]:
Temperaturas.index(12.4,2,7)

4

In [14]:
Temperaturas.index(12.4,1,3)

ValueError: 12.4 is not in list



---


### TUPLAS


---

Construcción de Tuplas

In [15]:
T = 40, 32, 10.5, 'Hola', 'Mundo'
L = [40, 32, 10.5, 'Hola', 'Mundo']
print(type(T))
print(type(L))

<class 'tuple'>
<class 'list'>

In [16]:
r=list(T)
type(r)

list

Las Tuplas son inmutables

In [17]:
L[4]='Todos'
print(L)

[40, 32, 10.5, 'Hola', 'Todos']

In [18]:
T[4]='Todos'

TypeError: 'tuple' object does not support item assignment



---

### SETS

---
Elimina elementos repetidos - No importa el orden

Construcción de Sets

In [19]:
Frutas = {'Naranja', 'Manzana', 'Piña', 'Durazno', 'Manzana'}
print(Frutas)

{'Naranja', 'Durazno', 'Piña', 'Manzana'}

Conversión a Sets

In [20]:
S = set('manzanas')
print(S)
E = set('duraznos')
print(E)

{'z', 'a', 'n', 's', 'm'}
{'r', 'd', 'z', 'a', 'o', 'n', 's', 'u'}

Operaciones con Sets

In [21]:
print(S,E)
print('Letras en S pero no en E:',S-E)
print('Letras en S o E o en ambos:',S|E)
print('Letras en ambos conjuntos:',S&E)
print('Letras en S o E pero no en ambos:',S^E)

{'z', 'a', 'n', 's', 'm'} {'r', 'd', 'z', 'a', 'o', 'n', 's', 'u'}
Letras en S pero no en E: {'m'}
Letras en S o E o en ambos: {'r', 'd', 'z', 'a', 'o', 'n', 's', 'u', 'm'}
Letras en ambos conjuntos: {'a', 's', 'n', 'z'}
Letras en S o E pero no en ambos: {'r', 'd', 'o', 'u', 'm'}



---

### DICCIONARIOS


---

Son colecciones que relacionan una llave (también conocida como clave) con un valor. Las llaves son únicas por cada diccionario, estas pueden ser cualquier dato de tipo inmutable, es decir, tuplas, cadenas de texto, números o booleanos y los valores pueden ser cualquier tipo de dato (numérico, cadena de caracteres, listas, tuplas e incluso más diccionarios).

Crear un diccionario

In [22]:
estudiantes={'10203040': "Cristian Rojas", '12321001' : "Steven Sierra", '218479' : "Nelson Vera" }
print(estudiantes)

{'10203040': 'Cristian Rojas', '12321001': 'Steven Sierra', '218479': 'Nelson Vera'}

Agregar un dato

In [23]:
estudiantes['122126873']="Ruben Medina"
print(estudiantes)

{'10203040': 'Cristian Rojas', '12321001': 'Steven Sierra', '218479': 'Nelson Vera', '122126873': 'Ruben Medina'}

Acceder a los datos

In [24]:
print (estudiantes['122126873'])

Ruben Medina

Funciones para tratar con diccionarios

In [25]:
print(len(estudiantes))
del estudiantes['122126873']
print('122126873' in estudiantes)
print(estudiantes.keys())
print(estudiantes.values())
print(estudiantes.pop('12321001'))
print(estudiantes)

4
False
dict_keys(['10203040', '12321001', '218479'])
dict_values(['Cristian Rojas', 'Steven Sierra', 'Nelson Vera'])
Steven Sierra
{'10203040': 'Cristian Rojas', '218479': 'Nelson Vera'}