# Pandas: Indexing - Selecting

En pandas se puede indexar y seleccionar con: [ ], loc[ ], iloc[ ]

In [1]:
import numpy as np
import pandas as pd

# https://www.datos.gov.co/Salud-y-Protecci-n-Social/Casos-positivos-de-COVID-19-en-Colombia/gt2j-8ykr

data = pd.read_csv("Casos_positivos_de_COVID-19_en_Colombia.csv")

In [2]:
data

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10490,10531,2020-05-07T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,21,M,En estudio,Leve,Colombia,2020-05-03T00:00:00.000,- -,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000
10491,10532,2020-05-07T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,29,M,En estudio,Leve,Colombia,2020-05-03T00:00:00.000,- -,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000
10492,10533,2020-05-07T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,36,F,Relacionado,Leve,Colombia,2020-05-04T00:00:00.000,- -,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000
10493,10534,2020-04-26T00:00:00.000,91001,Leticia,Amazonas,Fallecido,64,M,En estudio,Fallecido,Colombia,2020-04-26T00:00:00.000,2020-05-07T00:00:00.000,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000
10494,10535,2020-04-28T00:00:00.000,91001,Leticia,Amazonas,Fallecido,79,M,Relacionado,Fallecido,Colombia,2020-04-26T00:00:00.000,2020-04-29T00:00:00.000,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000



---


### Indexando y seleccionando con [ ]


---

**Una columna**

In [3]:
data['Ciudad de ubicación']

0                Bogotá D.C.
1        Guadalajara de Buga
2                   Medellín
3                   Medellín
4                   Medellín
                ...
10490            Bogotá D.C.
10491            Bogotá D.C.
10492            Bogotá D.C.
10493                Leticia
10494                Leticia
Name: Ciudad de ubicación, Length: 10495, dtype: object

In [4]:
data[['Ciudad de ubicación']]

       Ciudad de ubicación
0              Bogotá D.C.
1      Guadalajara de Buga
2                 Medellín
3                 Medellín
4                 Medellín
...                    ...
10490          Bogotá D.C.
10491          Bogotá D.C.
10492          Bogotá D.C.
10493              Leticia
10494              Leticia

[10495 rows x 1 columns]

**Varias columnas**

In [5]:
data[['Ciudad de ubicación','Sexo','Estado']]

       Ciudad de ubicación Sexo     Estado
0              Bogotá D.C.    F       Leve
1      Guadalajara de Buga    M       Leve
2                 Medellín    F       Leve
3                 Medellín    M       Leve
4                 Medellín    M       Leve
...                    ...  ...        ...
10490          Bogotá D.C.    M       Leve
10491          Bogotá D.C.    M       Leve
10492          Bogotá D.C.    F       Leve
10493              Leticia    M  Fallecido
10494              Leticia    M  Fallecido

[10495 rows x 3 columns]



---


### Indexando y seleccionando con .loc[ ]


---

.loc[ ] direcciona mediante los labels de las filas o columnas

**Una columna**

In [6]:
data.loc[:,'Sexo']

0        F
1        M
2        F
3        M
4        M
        ..
10490    M
10491    M
10492    F
10493    M
10494    M
Name: Sexo, Length: 10495, dtype: object

In [7]:
data.loc[:,['Sexo']]

      Sexo
0        F
1        M
2        F
3        M
4        M
...    ...
10490    M
10491    M
10492    F
10493    M
10494    M

[10495 rows x 1 columns]

**Varias columnas**

In [8]:
data.loc[:,['Tipo', 'Estado']]

              Tipo     Estado
0        Importado       Leve
1        Importado       Leve
2        Importado       Leve
3      Relacionado       Leve
4      Relacionado       Leve
...            ...        ...
10490   En estudio       Leve
10491   En estudio       Leve
10492  Relacionado       Leve
10493   En estudio  Fallecido
10494  Relacionado  Fallecido

[10495 rows x 2 columns]

In [9]:
data.loc[:,'Edad': 'Estado']

       Edad Sexo         Tipo     Estado
0        19    F    Importado       Leve
1        34    M    Importado       Leve
2        50    F    Importado       Leve
3        55    M  Relacionado       Leve
4        25    M  Relacionado       Leve
...     ...  ...          ...        ...
10490    21    M   En estudio       Leve
10491    29    M   En estudio       Leve
10492    36    F  Relacionado       Leve
10493    64    M   En estudio  Fallecido
10494    79    M  Relacionado  Fallecido

[10495 rows x 4 columns]

In [10]:
data.loc[:,: 'Estado']

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve
...,...,...,...,...,...,...,...,...,...,...
10490,10531,2020-05-07T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,21,M,En estudio,Leve
10491,10532,2020-05-07T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,29,M,En estudio,Leve
10492,10533,2020-05-07T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,36,F,Relacionado,Leve
10493,10534,2020-04-26T00:00:00.000,91001,Leticia,Amazonas,Fallecido,64,M,En estudio,Fallecido
10494,10535,2020-04-28T00:00:00.000,91001,Leticia,Amazonas,Fallecido,79,M,Relacionado,Fallecido

In [11]:
data.loc[:,'Edad':]

,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
0,19,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000
1,34,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000
2,50,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000
3,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
4,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...
10490,21,M,En estudio,Leve,Colombia,2020-05-03T00:00:00.000,- -,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000
10491,29,M,En estudio,Leve,Colombia,2020-05-03T00:00:00.000,- -,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000
10492,36,F,Relacionado,Leve,Colombia,2020-05-04T00:00:00.000,- -,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000
10493,64,M,En estudio,Fallecido,Colombia,2020-04-26T00:00:00.000,2020-05-07T00:00:00.000,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000
10494,79,M,Relacionado,Fallecido,Colombia,2020-04-26T00:00:00.000,2020-04-29T00:00:00.000,2020-05-09T00:00:00.000,- -,2020-05-09T00:00:00.000

**Una fila**

In [12]:
data.loc[40] #40 no es la posición sino el label de la fila

ID de caso                                       41
Fecha de notificación       2020-03-14T00:00:00.000
Codigo DIVIPOLA                               41001
Ciudad de ubicación                           Neiva
Departamento o Distrito                       Huila
atención                                 Recuperado
Edad                                             79
Sexo                                              M
Tipo                                    Relacionado
Estado                                 Asintomático
País de procedencia                        Colombia
FIS                                    Asintomático
Fecha de muerte                               -   -
Fecha diagnostico           2020-03-14T00:00:00.000
Fecha recuperado            2020-03-28T00:00:00.000
fecha reporte web           2020-03-14T00:00:00.000
Name: 40, dtype: object

In [13]:
data.loc[40,:]

ID de caso                                       41
Fecha de notificación       2020-03-14T00:00:00.000
Codigo DIVIPOLA                               41001
Ciudad de ubicación                           Neiva
Departamento o Distrito                       Huila
atención                                 Recuperado
Edad                                             79
Sexo                                              M
Tipo                                    Relacionado
Estado                                 Asintomático
País de procedencia                        Colombia
FIS                                    Asintomático
Fecha de muerte                               -   -
Fecha diagnostico           2020-03-14T00:00:00.000
Fecha recuperado            2020-03-28T00:00:00.000
fecha reporte web           2020-03-14T00:00:00.000
Name: 40, dtype: object

In [14]:
data.loc[[40]]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
40,41,2020-03-14T00:00:00.000,41001,Neiva,Huila,Recuperado,79,M,Relacionado,Asintomático,Colombia,Asintomático,- -,2020-03-14T00:00:00.000,2020-03-28T00:00:00.000,2020-03-14T00:00:00.000

**Varias filas**

In [15]:
data.loc[[40,50,60]]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
40,41,2020-03-14T00:00:00.000,41001,Neiva,Huila,Recuperado,79,M,Relacionado,Asintomático,Colombia,Asintomático,- -,2020-03-14T00:00:00.000,2020-03-28T00:00:00.000,2020-03-14T00:00:00.000
50,51,2020-03-15T00:00:00.000,25754,Soacha,Cundinamarca,Recuperado,24,M,Importado,Leve,Ecuador,2020-03-11T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-28T00:00:00.000,2020-03-16T00:00:00.000
60,61,2020-03-16T00:00:00.000,8001,Barranquilla,Barranquilla D.E.,Recuperado,21,M,Importado,Leve,España,2020-03-10T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-24T00:00:00.000,2020-03-16T00:00:00.000

In [16]:
data.loc[40:60,:]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
40,41,2020-03-14T00:00:00.000,41001,Neiva,Huila,Recuperado,79,M,Relacionado,Asintomático,Colombia,Asintomático,- -,2020-03-14T00:00:00.000,2020-03-28T00:00:00.000,2020-03-14T00:00:00.000
41,42,2020-03-14T00:00:00.000,41001,Neiva,Huila,Recuperado,52,F,Relacionado,Leve,Colombia,2020-03-10T00:00:00.000,- -,2020-03-14T00:00:00.000,2020-03-24T00:00:00.000,2020-03-14T00:00:00.000
42,43,2020-03-14T00:00:00.000,41001,Neiva,Huila,Recuperado,71,M,Relacionado,Leve,Colombia,2020-03-09T00:00:00.000,- -,2020-03-14T00:00:00.000,2020-03-24T00:00:00.000,2020-03-14T00:00:00.000
43,44,2020-03-14T00:00:00.000,41001,Neiva,Huila,Recuperado,24,F,Relacionado,Leve,Colombia,2020-03-10T00:00:00.000,- -,2020-03-14T00:00:00.000,2020-03-24T00:00:00.000,2020-03-14T00:00:00.000
44,45,2020-03-15T00:00:00.000,25769,Subachoque,Cundinamarca,Recuperado,29,M,Importado,Leve,España,2020-03-12T00:00:00.000,- -,2020-03-15T00:00:00.000,2020-04-05T00:00:00.000,2020-03-15T00:00:00.000
45,46,2020-03-13T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,44,F,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-15T00:00:00.000,- -,2020-03-15T00:00:00.000
46,47,2020-03-13T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,38,M,Relacionado,Leve,Colombia,2020-03-07T00:00:00.000,- -,2020-03-15T00:00:00.000,2020-04-07T00:00:00.000,2020-03-15T00:00:00.000
47,48,2020-03-15T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,31,M,Relacionado,Asintomático,Colombia,Asintomático,- -,2020-03-16T00:00:00.000,2020-03-27T00:00:00.000,2020-03-16T00:00:00.000
48,49,2020-03-15T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,41,F,Importado,Leve,España,2020-03-12T00:00:00.000,- -,2020-03-15T00:00:00.000,2020-03-27T00:00:00.000,2020-03-15T00:00:00.000
49,50,2020-03-14T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,67,F,Importado,Leve,España,2020-03-08T00:00:00.000,- -,2020-03-15T00:00:00.000,2020-03-23T00:00:00.000,2020-03-15T00:00:00.000
50,51,2020-03-15T00:00:00.000,25754,Soacha,Cundinamarca,Recuperado,24,M,Importado,Leve,Ecuador,2020-03-11T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-28T00:00:00.000,2020-03-16T00:00:00.000
51,52,2020-03-15T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,29,M,Importado,Leve,España,2020-03-09T00:00:00.000,- -,2020-03-15T00:00:00.000,2020-03-24T00:00:00.000,2020-03-15T00:00:00.000
52,53,2020-03-14T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,62,M,Importado,Leve,España,2020-03-12T00:00:00.000,- -,2020-03-15T00:00:00.000,2020-03-27T00:00:00.000,2020-03-15T00:00:00.000
53,54,2020-03-15T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,42,F,Importado,Leve,España,2020-03-12T00:00:00.000,- -,2020-03-15T00:00:00.000,2020-04-02T00:00:00.000,2020-03-15T00:00:00.000
54,55,2020-03-16T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,58,F,Relacionado,Leve,Colombia,2020-03-05T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-20T00:00:00.000,2020-03-16T00:00:00.000
55,56,2020-03-14T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,34,M,Importado,Leve,España,2020-03-13T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-28T00:00:00.000,2020-03-16T00:00:00.000
56,57,2020-03-15T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,37,M,Relacionado,Leve,Colombia,2020-03-09T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-24T00:00:00.000,2020-03-16T00:00:00.000
57,58,2020-03-13T00:00:00.000,13001,Cartagena de Indias,Cartagena D.T. y C.,Recuperado,27,M,Relacionado,Leve,Colombia,2020-03-13T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-27T00:00:00.000,2020-03-16T00:00:00.000
58,59,2020-03-14T00:00:00.000,8001,Barranquilla,Barranquilla D.E.,Recuperado,20,M,Importado,Leve,España,2020-03-13T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-27T00:00:00.000,2020-03-16T00:00:00.000
59,60,2020-03-14T00:00:00.000,68276,Floridablanca,Santander,Recuperado,24,M,Importado,Leve,España,2020-03-12T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-31T00:00:00.000,2020-03-16T00:00:00.000
60,61,2020-03-16T00:00:00.000,8001,Barranquilla,Barranquilla D.E.,Recuperado,21,M,Importado,Leve,España,2020-03-10T00:00:00.000,- -,2020-03-16T00:00:00.000,2020-03-24T00:00:00.000,2020-03-16T00:00:00.000

In [17]:
data.loc[:5,:]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000
5,6,2020-03-10T00:00:00.000,5360,Itagüí,Antioquia,Recuperado,27,F,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000

In [18]:
data.loc[12300:,:]

Empty DataFrame
Columns: [ID de caso, Fecha de notificación, Codigo DIVIPOLA, Ciudad de ubicación, Departamento o Distrito , atención, Edad, Sexo, Tipo, Estado, País de procedencia, FIS, Fecha de muerte, Fecha diagnostico, Fecha recuperado, fecha reporte web]
Index: []

**Filas y columnas**

In [19]:
data.loc[40,'Sexo']

'M'

In [20]:
data.loc[[40,45,50],['Sexo','Estado']]

   Sexo        Estado
40    M  Asintomático
45    F          Leve
50    M          Leve


---


### Indexando y seleccionando con .iloc[ ]


---

.iloc[ ] direcciona mediante las posiciones de las filas o columnas

**Una columna**

In [21]:
data.iloc[:,3]

0                Bogotá D.C.
1        Guadalajara de Buga
2                   Medellín
3                   Medellín
4                   Medellín
                ...
10490            Bogotá D.C.
10491            Bogotá D.C.
10492            Bogotá D.C.
10493                Leticia
10494                Leticia
Name: Ciudad de ubicación, Length: 10495, dtype: object

In [22]:
data.iloc[:,[3]]

       Ciudad de ubicación
0              Bogotá D.C.
1      Guadalajara de Buga
2                 Medellín
3                 Medellín
4                 Medellín
...                    ...
10490          Bogotá D.C.
10491          Bogotá D.C.
10492          Bogotá D.C.
10493              Leticia
10494              Leticia

[10495 rows x 1 columns]

**Varias columnas**

In [23]:
data.iloc[:,[3,4,5]]

       Ciudad de ubicación Departamento o Distrito     atención
0              Bogotá D.C.              Bogotá D.C.  Recuperado
1      Guadalajara de Buga          Valle del Cauca  Recuperado
2                 Medellín                Antioquia  Recuperado
3                 Medellín                Antioquia  Recuperado
4                 Medellín                Antioquia  Recuperado
...                    ...                      ...         ...
10490          Bogotá D.C.              Bogotá D.C.        Casa
10491          Bogotá D.C.              Bogotá D.C.        Casa
10492          Bogotá D.C.              Bogotá D.C.        Casa
10493              Leticia                 Amazonas   Fallecido
10494              Leticia                 Amazonas   Fallecido

[10495 rows x 3 columns]

In [24]:
data.iloc[:,3:6]

       Ciudad de ubicación Departamento o Distrito     atención
0              Bogotá D.C.              Bogotá D.C.  Recuperado
1      Guadalajara de Buga          Valle del Cauca  Recuperado
2                 Medellín                Antioquia  Recuperado
3                 Medellín                Antioquia  Recuperado
4                 Medellín                Antioquia  Recuperado
...                    ...                      ...         ...
10490          Bogotá D.C.              Bogotá D.C.        Casa
10491          Bogotá D.C.              Bogotá D.C.        Casa
10492          Bogotá D.C.              Bogotá D.C.        Casa
10493              Leticia                 Amazonas   Fallecido
10494              Leticia                 Amazonas   Fallecido

[10495 rows x 3 columns]

**Una fila**

In [25]:
data.iloc[3]

ID de caso                                        4
Fecha de notificación       2020-03-09T00:00:00.000
Codigo DIVIPOLA                                5001
Ciudad de ubicación                        Medellín
Departamento o Distrito                   Antioquia
atención                                 Recuperado
Edad                                             55
Sexo                                              M
Tipo                                    Relacionado
Estado                                         Leve
País de procedencia                        Colombia
FIS                         2020-03-06T00:00:00.000
Fecha de muerte                               -   -
Fecha diagnostico           2020-03-11T00:00:00.000
Fecha recuperado            2020-03-26T00:00:00.000
fecha reporte web           2020-03-11T00:00:00.000
Name: 3, dtype: object

In [26]:
data.iloc[3,:]

ID de caso                                        4
Fecha de notificación       2020-03-09T00:00:00.000
Codigo DIVIPOLA                                5001
Ciudad de ubicación                        Medellín
Departamento o Distrito                   Antioquia
atención                                 Recuperado
Edad                                             55
Sexo                                              M
Tipo                                    Relacionado
Estado                                         Leve
País de procedencia                        Colombia
FIS                         2020-03-06T00:00:00.000
Fecha de muerte                               -   -
Fecha diagnostico           2020-03-11T00:00:00.000
Fecha recuperado            2020-03-26T00:00:00.000
fecha reporte web           2020-03-11T00:00:00.000
Name: 3, dtype: object

In [27]:
data.iloc[[3]]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000

In [28]:
data.iloc[[3],:]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000

**Varias filas**

In [29]:
data.iloc[[3,4,5]]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000
5,6,2020-03-10T00:00:00.000,5360,Itagüí,Antioquia,Recuperado,27,F,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000

In [30]:
data.iloc[[3,4,5],:]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000
5,6,2020-03-10T00:00:00.000,5360,Itagüí,Antioquia,Recuperado,27,F,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000

In [31]:
data.iloc[3:7,:]

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000
5,6,2020-03-10T00:00:00.000,5360,Itagüí,Antioquia,Recuperado,27,F,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
6,7,2020-03-08T00:00:00.000,13001,Cartagena de Indias,Cartagena D.T. y C.,Recuperado,85,F,Importado,Leve,Estados Unidos de América,2020-03-02T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-17T00:00:00.000,2020-03-11T00:00:00.000

**Filas y columnas**

In [32]:
data.iloc[3,6]

55

In [33]:
data.iloc[[3,4,5],6]

3    55
4    25
5    27
Name: Edad, dtype: int64

In [34]:
data.iloc[[3,4,5],:4]

   ID de caso    Fecha de notificación  Codigo DIVIPOLA Ciudad de ubicación
3           4  2020-03-09T00:00:00.000             5001            Medellín
4           5  2020-03-09T00:00:00.000             5001            Medellín
5           6  2020-03-10T00:00:00.000             5360              Itagüí

In [35]:
data.iloc[:4,7:]

,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
0,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000
1,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000
2,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000
3,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000