#Pandas: Fusionar, unir y concatenar



---


###Concatenación vertical


---

In [ ]:
import pandas as pd


df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],'D': ['D0', 'D1', 'D2', 'D3']},index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],'B': ['B4', 'B5', 'B6', 'B7'],
'C': ['C4', 'C5', 'C6', 'C7'],'D': ['D4', 'D5', 'D6', 'D7']},index=[4, 5, 6, 7])

frames=[df1,df2]
dfv=pd.concat(frames, axis=0) # axis=0 por defecto
print(df1)
print(df2)
print(dfv)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7


---


###Concatenación horizontal


---

In [ ]:
df3 = pd.DataFrame({'E': ['E0', 'E1', 'E2', 'E3'],'F': ['F0', 'F1', 'F2', 'F3'],
'G': ['G0', 'G1', 'G2', 'G3'],'H': ['H0', 'H1', 'H2', 'H3']},index=[0, 1, 2, 3])

frames=[df1,df3]
dfh=pd.concat(frames, axis=1)
print(df1)
print(df3)
print(dfh)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    E   F   G   H
0  E0  F0  G0  H0
1  E1  F1  G1  H1
2  E2  F2  G2  H2
3  E3  F3  G3  H3
    A   B   C   D   E   F   G   H
0  A0  B0  C0  D0  E0  F0  G0  H0
1  A1  B1  C1  D1  E1  F1  G1  H1
2  A2  B2  C2  D2  E2  F2  G2  H2
3  A3  B3  C3  D3  E3  F3  G3  H3

---


###Inner y outer


---

In [ ]:
df4 = pd.DataFrame({'A': ['A2', 'A3', 'A6', 'A7'],'C': ['C2', 'C3', 'C6', 'C7'],
'G': ['G2', 'G3', 'C6', 'C7'],'H': ['H2', 'H2', 'D6', 'D7']},index=[2, 3, 6, 7])


frames=[df1,df4]
dfv=pd.concat(frames, axis=0, join='outer') #join='outer' por defecto
print(df1)
print(df4)
print(dfv)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   C   G   H
2  A2  C2  G2  H2
3  A3  C3  G3  H2
6  A6  C6  C6  D6
7  A7  C7  C7  D7
    A    B   C    D    G    H
0  A0   B0  C0   D0  NaN  NaN
1  A1   B1  C1   D1  NaN  NaN
2  A2   B2  C2   D2  NaN  NaN
3  A3   B3  C3   D3  NaN  NaN
2  A2  NaN  C2  NaN   G2   H2
3  A3  NaN  C3  NaN   G3   H2
6  A6  NaN  C6  NaN   C6   D6
7  A7  NaN  C7  NaN   C7   D7

In [ ]:
dfh=pd.concat(frames, axis=1, join='outer') #join='outer' por defecto
print(df1)
print(df4)
print(dfh)

NameError: ignored

In [ ]:
frames=[df1,df4]
dfv=pd.concat(frames, axis=0, join='inner')
print(df1)
print(df4)
print(dfv)

NameError: ignored

In [ ]:
dfh=pd.concat(frames, axis=1, join='inner') 
print(df1)
print(df4)
print(dfh)

---


###Keys


---

In [ ]:

dfv = pd.concat([df1, df2], axis=0,  keys=['s1', 's2'])
print(df1)
print(df2)
print(dfv)

dfh = pd.concat([df1, df2], axis=1, keys=['s1', 's2'])
print(df1)
print(df2)
print(dfh)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
       A   B   C   D
s1 0  A0  B0  C0  D0
   1  A1  B1  C1  D1
   2  A2  B2  C2  D2
   3  A3  B3  C3  D3
s2 4  A4  B4  C4  D4
   5  A5  B5  C5  D5
   6  A6  B6  C6  D6
   7  A7  B7  C7  D7
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
    s1                  s2
     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

---


###Ignore index


---

In [ ]:
dfV = pd.concat([df1, df4], axis=0, ignore_index = True)
print(df1)
print(df4)
print(dfV)

dfh = pd.concat([df1, df4], axis=1, ignore_index = True)
print(df1)
print(df4)
print(dfh)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   C   G   H
2  A2  C2  G2  H2
3  A3  C3  G3  H2
6  A6  C6  C6  D6
7  A7  C7  C7  D7
    A    B   C    D    G    H
0  A0   B0  C0   D0  NaN  NaN
1  A1   B1  C1   D1  NaN  NaN
2  A2   B2  C2   D2  NaN  NaN
3  A3   B3  C3   D3  NaN  NaN
4  A2  NaN  C2  NaN   G2   H2
5  A3  NaN  C3  NaN   G3   H2
6  A6  NaN  C6  NaN   C6   D6
7  A7  NaN  C7  NaN   C7   D7
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   C   G   H
2  A2  C2  G2  H2
3  A3  C3  G3  H2
6  A6  C6  C6  D6
7  A7  C7  C7  D7
     0    1    2    3    4    5    6    7
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2   A2   C2   G2   H2
3   A3   B3   C3   D3   A3   C3   G3   H2
6  NaN  NaN  NaN  NaN   A6   C6   C6   D6
7  NaN  NaN  NaN  NaN   A7   C7   C7   D7

---


###Concatenando con Append


---

In [ ]:
dfv=df1.append(df4)
print(df1)
print(df4)
print(dfv)

dfv=df1.append(df4, ignore_index=True)
print(df1)
print(df4)
print(dfv)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   C   G   H
2  A2  C2  G2  H2
3  A3  C3  G3  H2
6  A6  C6  C6  D6
7  A7  C7  C7  D7
    A    B   C    D    G    H
0  A0   B0  C0   D0  NaN  NaN
1  A1   B1  C1   D1  NaN  NaN
2  A2   B2  C2   D2  NaN  NaN
3  A3   B3  C3   D3  NaN  NaN
2  A2  NaN  C2  NaN   G2   H2
3  A3  NaN  C3  NaN   G3   H2
6  A6  NaN  C6  NaN   C6   D6
7  A7  NaN  C7  NaN   C7   D7
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   C   G   H
2  A2  C2  G2  H2
3  A3  C3  G3  H2
6  A6  C6  C6  D6
7  A7  C7  C7  D7
    A    B   C    D    G    H
0  A0   B0  C0   D0  NaN  NaN
1  A1   B1  C1   D1  NaN  NaN
2  A2   B2  C2   D2  NaN  NaN
3  A3   B3  C3   D3  NaN  NaN
4  A2  NaN  C2  NaN   G2   H2
5  A3  NaN  C3  NaN   G3   H2
6  A6  NaN  C6  NaN   C6   D6
7  A7  NaN  C7  NaN   C7   D7



---


###Tarea


---

Consultar y realizar ejemplos de Merge